:root {
    --dark-gray: #7f7770;
    --primary-color: #008278;
    --secondary-color: #fbb03b;
    --white-color: #fff;
    --black-color: #000;
    --primary-font: "Open Sans", serif;
  }
  @import url(banner.css);

  body{
    font-family: var(--primary-font);
  }
  p{
    font-family: var(--primary-font);
  }
  h1, h2, h3, h4, h5, h6{
    font-family: var(--primary-font);
  }
  .btn-primary{
    font-size: 27px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 700;
    border-radius: 40px;
    border: 1px solid var(--primary-color);
    padding: 10px 40px 13px;
  }
  .btn-primary:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--black-color);
  }



  .btn-outline{
    font-size: 27px;
    color: var(--secondary-color);
    background-color: transparent;
    font-weight: 700;
    border-radius: 40px;
    border: 2px solid var(--secondary-color);
    padding: 10px 40px 13px;
  }
  .btn-outline:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--black-color);
  }

  @media (max-width: 767px) {
    .btn-primary{
      font-size: 18px;
    }
    .btn-outline{
      font-size: 18px;
    }
  }
  header nav{
    padding-top: 20px!important
  }
  header ul li{
    font-weight: 700;
    text-transform: uppercase;
    a{
      color: var(--black-color)!important;
      font-size: 18px;
      letter-spacing: 2px;
      margin-left: 60px;
      position: relative;
      padding-left: 0!important;
      padding-right: 0!important;
      &:hover{
        color: var(--primary-color)!important;
        &::after{
          transform: scaleX(1);
  transition: 0.6s;
        }
      }
      &::after{
        display: block;
        content: '';
        border-bottom: solid 3px var(--primary-color);
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        line-height: 20px;
        width: 100%;
        margin: 3px auto;
        float: left;
        transform-origin: center;
        height: 4px;
        position: absolute;
        bottom: 0px;
        left: 0;
      }
    }
  }

  @media (max-width: 767px) {
    .navbar-light .navbar-brand img{
      width: 140px;
    }
    header nav{
      padding-bottom: 20px!important;
    }
    .navbar-light .navbar-toggler{
      border: 0 ;
    }
    header ul li  a{
      margin-left: 0;
      display: inline-block!important;
    }
    .navbar-nav{
      padding-top: 20px;
    }
  }
  .container{
    max-width: 1540px;
  }

  @media (max-width: 1600px) {
    .container{
      max-width: 1170px;
    }
  }

 


  /* key services */
  .key-services {
    padding-bottom: 120px;
  }
  .key-services h3{
    font-size: 30px;
    color: var(--dark-gray);
    text-align: center;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 80px;
    font-size: 400;
  }
  .key-services img{
    width: 100%;
  }
  .key-services .key-services-box{
    background-color: var(--primary-color);
  }
  .key-services .key-services-box .content{
    background-color: var(--primary-color);
    padding: 40px;
  }
  .key-services .key-services-box .content h5{
    font-size: 35px;
    font-weight: 700;
    color: var(--white-color);
    font-family: var(--primary-font);
    margin-bottom: 15px;
  }
  .key-services .key-services-box .content p{
    font-size: 27px;
    color: var(--white-color);
    margin-bottom: 0;
    font-family: var(--primary-font);
  }

.swiper-button-next{
  background: var(--primary-color);
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 50%;
}
.swiper-button-next::after{
  font-size: 30px;
  color: var(--white-color);
}
.swiper-button-prev{
  background: var(--primary-color);
  width: 50px;
  height: 50px;
  padding: 20px;
  border-radius: 50%;
}
.swiper-button-prev::after{
  font-size: 30px;
  color: var(--white-color);
}


  @media (max-width: 1400px) {
    .key-services h3{
      width: 80%;
    }
    .key-services .key-services-box .content h5{
      font-size: 27px;
    }
    .key-services .key-services-box .content{
      min-height: 290px;
    }
  }

  @media (max-width: 767px) {
    .key-services{
      padding-bottom: 60px;
    }
    .key-services h3{
      width: 100%;
      font-size: 27px;
    }
    .key-services .key-services-box .content p{
      font-size: 20px;
    }
    .key-services .key-services-box .content h5{
      font-size: 24px;
    }
    .key-services .key-services-box .content {
      min-height: 200px;
    }
  }

  /* why  choos us */

  .why-choose-us{
    background-image: url(../images/Asset-17-100.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0;
    height: 350px;
    display: flex;
    align-items: center;
  }

  .why-choose-us h1{
    font-size: 80px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 0;
  }

  .why-choose-us-wrap{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .why-choose-us-content{
    padding: 120px 0;
  }
  .why-choose-us-content h5{
    font-size: 23px;
    color: var(--secondary-color);
    font-weight: 700;
    margin-bottom: 15px;
  }
  .why-choose-us-box img{
    height: 60px;
    object-fit: contain;
    margin-bottom: 20px;
  }
  .why-choose-us-box{
    /* padding: 0 20px; */
    width: 20%;
    
  }
  .why-choose-us-box .content{
    padding: 0 20px;
    border-right: 2px solid var(--dark-gray);
  }
  .why-choose-us-box:last-child .content{
    border-right: 0;
  }
  .why-choose-us-box:last-child{
    border-right: 0;
  }
  .why-choose-us-box p{
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-gray);
    margin-bottom: 0;
    line-height: 1.3;
  }
  @media (max-width: 1400px) {
    .why-choose-us-content h5{
      font-size: 20px;
    }
  }

  @media (max-width: 767px) {
    .why-choose-us-content{
      padding-top: 60px;
      padding-bottom: 20px;
    }
    .why-choose-us h1{
      width: 100%;
      font-size: 27px;
    }
    .why-choose-us{
      height: 185px;
    }
    .why-choose-us-wrap{
      flex-wrap: wrap;
      row-gap: 50px;
    }
    .why-choose-us-box{
      width: 100%;
      min-width: 100%;
    }
    .why-choose-us-box .content{
      border-right: 0;
    }
  }


  /* customer-talks */
  .customer-talks{
    background-image: url(../images/Asset-28-8.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0;
    height: 690px;
    display: flex;
    align-items: center;
  }

  .customer-talks h2{
    font-size: 80px;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 70px;
  }

  .customer-talks .testimonial-wrap{
    display: flex;
    justify-content: space-between;
  }
  .customer-talks .testimonial-wrap .testimonial-box img{
    position: absolute;
  top: -25px;
  width: 70px;
  }
  .customer-talks .testimonial-wrap .testimonial-box{
    padding: 60px;
    border: 4px dashed var(--white-color);
    border-radius: 20px;
    width: 30%;
    position: relative;
  }
  .customer-talks .testimonial-wrap .testimonial-box p{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    color: var(--white-color);
  }
  .customer-talks .testimonial-wrap .testimonial-box p.customer-name{
    position: absolute;
    bottom: 10px;
    right: 40px;
    font-weight: 700;
  }

  @media (max-width: 1400px) {
    .customer-talks{
      height: 860px;
    }
    .customer-talks .testimonial-wrap .testimonial-box{
      padding: 40px;
    }
    .customer-talks h2{
      font-size: 65px;
    }
  }

  @media (max-width: 767px) {
    .customer-talks{
      height: 650px;
    }
    .customer-talks h2{
      font-size: 35px;
      margin-bottom: 30px;
    }
    .testimonial-wrap{
      flex-direction: row;
      gap: 20px;
      overflow: auto;
      padding: 40px 10px;
    }
    .customer-talks .testimonial-wrap .testimonial-box{
      width: 90%;
      min-width: 90%;
      padding: 30px 20px;
    }
    .customer-talks .testimonial-wrap .testimonial-box p{
      font-size: 18px;
    }
  }

  /* book-now-block */
  .book-now-block{
    padding: 120px 0;
    text-align: center;
  }
  .book-now-block h2{
    font-size: 80px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 70px;
    text-align: center;
  }
  .book-now-block h5{
    font-weight: 700;
    font-size: 30px;
    color: var(--dark-gray);
    margin-bottom: 20px;
  }
  .book-now-block  p{
    font-size: 30px;
    color: var(--dark-gray);
    font-weight: 400;
    width: 70%;
    margin: 0 auto;
  }
  .book-now-block .btn-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;  
    justify-content: center;
    margin-top: 50px;
  }

  @media (max-width: 1400px) {
    .book-now-block h2{
      font-size: 65px;
    }
    .book-now-block  p{
      font-size: 27px;
      width: 80%;
    }
  }
  @media (max-width: 767px) {
    .book-now-block{
      padding: 30px 0 80px;
    }
    .book-now-block h2{
      font-size: 35px;
    }
    .book-now-block h5 {
      font-weight: 700;
      font-size: 27px;
    }
    .book-now-block p {
      font-size: 20px;
      width: 100%;
    }
  }
  

  /* FOOTER */
  footer{
    background-color: var(--dark-gray);
    padding: 120px 0;
  }
  .footer-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-logo-wrap{
    width: 40%;
    padding-right: 140px;
    align-items: center;
  }
  /* .footer-links{
    display: flex;
    gap: 60px;
  } */

  .footer-logo-wrap p{
    font-size: 20px;
    color: var(--white-color);
    margin-top: 30px;
  }
  .footer-links{
    width: 20%;
  }
  .footer-social{
    width: 20%;
  }
  .footer-links ul{
    padding-left: 0;
    list-style: none;
  }
  .footer-links ul li {
    margin-bottom: 15px;
  }
  .footer-links ul li a{
    font-size: 24px;
    color: var(--white-color);
    opacity: 0.7;
  }
  .footer-links ul li a:hover{
    color: var(--secondary-color);
  }
  .footer-social ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
  }
  .footer-social ul li a svg{
    background-color: #ccc;
    border-radius: 50%;
    padding: 5px;
  }
  .footer-social ul li a:hover svg{
    background-color: var(--secondary-color);
  }
  .footer-copyright{
    padding-top: 40px;
  }
  .footer-copyright p{
    font-size: 16px;
    color: var(--white-color);
    opacity: 0.5;
    text-align: center;
    margin-bottom: 0;
  }


  @media (max-width: 1400px) {
    .footer-logo-wrap{
      padding-right: 60px;
    }
    .footer-links ul li a{
      font-size: 20px;
    }
  }

  @media (max-width: 767px) {
    .footer-logo-wrap{
      width: 100%;
      padding-right: 0;
      padding-bottom: 40px;
      text-align: center;
    }
    .footer-links{
      text-align: center;
      width: 100%;
    }
    .footer-social{
      width: 100%;
      padding-top: 40px;

    }
    .footer-social ul{
      justify-content: center;
      padding-left: 0;
    }
    footer{
      padding: 60px 0;
    }
    .footer-logo-wrap img{
      width: 150px;
    }
  }
  










  